@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=PT+Serif:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.header {
  font-family: "Work Sans", sans-serif;
}
.header__top {
  background: #000;
  padding: 0 20px;
}
@media only screen and (max-width: 991px) {
  .header__top {
    display: none;
  }
}
.header__top__content {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.header__top-nav-list__item {
  display: flex;
  gap: 15px;
  padding: 6px 0;
}
.header__top-nav-list__item a {
  color: #FFF;
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.header__main {
  padding: 20px;
}
@media only screen and (max-width: 991px) {
  .header__main {
    padding-bottom: 0;
  }
}
.header__main__content {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .header__main__logo img {
    max-width: 73px;
  }
}
.header__main__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (max-width: 991px) {
  .header__main__links {
    display: none;
  }
}
.header__main__links time {
  color: #434343;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16.8px; /* 140% */
  text-decoration-line: underline;
  text-transform: uppercase;
}
.header__main__links__list {
  display: flex;
  gap: 10px;
}
.header__main__links__list__item img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.header__main__mobile-menu {
  display: none;
}
@media only screen and (max-width: 991px) {
  .header__main__mobile-menu {
    display: flex;
    gap: 17px;
  }
}
.header__nav {
  border-top: 1px solid #434343;
  border-bottom: 1px solid #434343;
  padding: 0 20px;
}
@media only screen and (max-width: 991px) {
  .header__nav {
    border-top: none;
  }
}
.header__nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  gap: 20px;
}
@media only screen and (max-width: 991px) {
  .header__nav__list {
    gap: 30px;
    overflow: scroll;
  }
  .header__nav__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .header__nav__list {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.header__nav__list__item a {
  color: #474747;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 10px 0;
  display: block;
  position: relative;
  white-space: nowrap;
}
.header__nav__list__item:not(:last-child) a:after {
  content: "";
  position: absolute;
  right: -11px;
  top: 16px;
  width: 8px;
  height: 8px;
  background-image: url(../images/arrow.svg);
}
.header__nav__list__item:last-child a {
  background: #B41400;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.loophole {
  font-family: "PT Serif", serif;
}
.loophole__content {
  max-width: 1102px;
  width: 100%;
  margin: 0 auto;
  padding: 90px 15px 160px;
}
@media only screen and (max-width: 991px) {
  .loophole__content {
    padding-top: 45px;
  }
}
.loophole img {
  width: 100%;
  height: auto;
}
.loophole h1 {
  color: #4B5563;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 59.3px;
  margin-bottom: 20px;
  margin-top: 50px;
}
@media only screen and (max-width: 991px) {
  .loophole h1 {
    font-size: 30px;
    line-height: 29.3px;
    margin: 30px 0;
  }
}
.loophole h1 a {
  color: rgba(55, 65, 81, 0.95);
  text-decoration-line: underline;
}
@media only screen and (max-width: 991px) {
  .loophole h1 a {
    font-size: 30px;
    line-height: 29.3px;
  }
}
.loophole__text {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 25px 0;
}
@media only screen and (max-width: 991px) {
  .loophole__text {
    border: none;
    padding: 0;
  }
}
.loophole__text h2 {
  color: rgba(55, 65, 81, 0.95);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.5px;
  letter-spacing: 0.2px;
}
.loophole__text p {
  color: rgba(55, 65, 81, 0.95);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.5px;
  letter-spacing: 0.2px;
  margin-bottom: 30px;
  max-width: 1066px;
  width: 100%;
}
.loophole__text p a {
  color: rgba(55, 65, 81, 0.95);
  text-decoration-line: underline;
}
.loophole__comments {
  font-family: "Inter", sans-serif;
  margin-top: 100px;
}
.loophole__comments__title {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.5px;
  border-bottom: 1px solid #000;
}
.loophole__comments__title span {
  border: 1px solid #000;
  border-bottom: none;
  display: inline-block;
  padding: 8px;
}
.loophole__comments h2 {
  color: #515151;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.5px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 60px;
  margin-top: 37px;
}
.loophole__comments h2 .title {
  border-bottom: 3px solid #B51400;
  display: flex;
  gap: 8px;
  padding-bottom: 10px;
}
.loophole__comments h2 .counter {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32.5px;
  background: #B51400;
  height: 31px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loophole__comments__list {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media only screen and (max-width: 991px) {
  .loophole__comments__list {
    gap: 30px;
  }
}
.loophole__comments__list-item {
  display: flex;
  gap: 24px;
}
@media only screen and (max-width: 991px) {
  .loophole__comments__list-item {
    flex-direction: column;
    gap: 10px;
  }
}
.loophole__comments__list-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.loophole__comments__list-item h3 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32.5px;
  margin-bottom: 10px;
}
.loophole__comments__list-item p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  padding-left: 41px;
  max-width: 750px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .loophole__comments__list-item p {
    padding: 0;
  }
}
.loophole__comments__list-item p a {
  color: #000;
  text-decoration: underline;
}

.footer {
  background: #434343;
  color: #FFFFFF;
  font-family: "Work Sans", sans-serif;
  padding-top: 50px;
}
.footer a {
  color: #FFFFFF;
}
.footer__content {
  max-width: 1270px;
  padding: 0 15px 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 991px) {
  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top top" "middle-1 middle-2" "bottom bottom";
  }
}
.footer__content div {
  padding-right: 20px;
}
.footer__content div:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 991px) {
  .footer__content div:not(:last-child) {
    border-right: none;
  }
}
@media only screen and (max-width: 991px) {
  .footer__content div:nth-child(1) {
    grid-area: top;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0;
  }
}
@media only screen and (max-width: 991px) {
  .footer__content div:nth-child(2) {
    grid-area: middle-1;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0;
  }
}
@media only screen and (max-width: 991px) {
  .footer__content div:nth-child(3) {
    grid-area: middle-2;
    padding: 0;
  }
}
@media only screen and (max-width: 991px) {
  .footer__content div:nth-child(4) {
    grid-area: bottom;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-right: 20px;
    padding-top: 20px;
  }
}
.footer__content div h3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.6px;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__content div ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer__content div ul li {
  gap: 3px;
}
.footer__content div ul li a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  text-decoration-line: underline;
}
.footer__company {
  flex: 1;
}
.footer__company img {
  max-width: 108px;
  height: auto;
}
.footer__company p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  padding-top: 18px;
}
.footer__company a {
  color: #82B4F8;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  text-decoration-line: underline;
}
.footer__company ul.footer__links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 991px) {
  .footer__company ul.footer__links {
    margin-bottom: 20px;
  }
}
.footer__sections {
  flex: 1;
}
.footer__more {
  flex: 1;
}
.footer__subscribe {
  flex: 1;
}
@media only screen and (max-width: 991px) {
  .footer__subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top top" "middle-1 middle-2";
  }
  .footer__subscribe > :nth-child(1) {
    grid-area: top;
  }
  .footer__subscribe > :nth-child(2) {
    grid-area: middle-1;
  }
  .footer__subscribe > :nth-child(3) {
    grid-area: middle-2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px !important;
  }
  .footer__subscribe > :nth-child(3) a {
    height: 40px;
  }
}
.footer__subscribe ul {
  margin-bottom: 30px;
}
.footer__subscribe img {
  width: 100%;
  height: auto;
}
.footer__subscribe img.app-google {
  max-width: 135px;
  margin-bottom: 10px;
}
.footer__subscribe img.app-store {
  max-width: 120px;
}
.footer__copyright__content {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/*# sourceMappingURL=style.css.map */
